/.env
*.csv
*.bin
*.sqlite3
*.pickle
*.pkl
/Clustering/Clustering/Chroma/
.idea/
.DS_Store
~/Desktop/Projects/FactChecker/.gitREAL
/Clustering/Raw Data/Climate/Cleaned/card.csv
/Clustering/Raw Data/Climate/Cleaned/epa.csv
/Clustering/Raw Data/Climate/Cleaned/negated_card.csv
/Clustering/Raw Data/Climate/Cleaned/negated_epa.csv
/Testing/Test Output/50_threshold_v3.numbers
!/Clustering/Raw Data/Climate/VKs Copy of Cleaned - Google Fact Check Explorer - Climate.xlsx - Corrected.csv
*.pyc
