/.env
*.csv
*.bin
*.sqlite3
*.pickle
*.pkl
/Clustering/Clustering/Chroma/
.idea/
.DS_Store
~/Desktop/Projects/FactChecker/.gitREAL
/Clustering/Raw Data/Climate/Cleaned/card
/Clustering/Raw Data/Climate/Cleaned/epa
/Clustering/Raw Data/Climate/Cleaned/negated_card
/Clustering/Raw Data/Climate/Cleaned/negated_epa
